# Application
APP_NAME=sre-decision-intelligence-platform
APP_ENV=dev
LOG_LEVEL=INFO

# Kubernetes
KUBERNETES_NAMESPACE=sre-decision-intelligence

# Prometheus
PROMETHEUS_URL=http://prometheus-operated.monitoring.svc.cluster.local:9090

# OpenSearch
OPENSEARCH_URL=http://opensearch-cluster-master.observability.svc.cluster.local:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=change-me

# Argo CD
ARGOCD_SERVER=http://argocd-server.argocd.svc.cluster.local
ARGOCD_NAMESPACE=argocd

# Grafana
GRAFANA_URL=http://grafana.monitoring.svc.cluster.local:3000