APP_NAME="SRE Decision Intelligence Platform"
APP_VERSION="0.1.0"
ENVIRONMENT="local"

PROMETHEUS_BASE_URL="http://localhost:9090"
OPENSEARCH_BASE_URL="http://localhost:9200"

WORKLOAD_NAMESPACE="fintech-workload"
FRONTEND_SERVICE_NAME="frontend"
FRONTEND_APP_LABEL="frontend"

DATABASE_URL="postgresql+psycopg://sre:sre_password@localhost:5432/sre_decision_intelligence"
